:root {
  /*색상*/
  --blue-color: #00e5ff;
  --black-color: #212121;
  --white-color: #fff;
  --grey-dark-color: #616161;
  --grey-light-color: #a4a4a4;
  --box-color: #f2f2f2;
  --box-dark-color: #e9e9e9;

  /*사이즈*/
  --side-padding: 0 150px;
  --padding: 15px;
  --margin: 30px 0;

  /*폰트 사이즈*/
  --font-large: 25px;
  --font-medium: 20px;
  --font-small: 18px;
  --font-micro: 13px; 
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button,
button:focus {
  background: none;
  border: none;
  cursor: pointer;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--black-color);
}

.topMenu a:hover,
.menu a:hover,
.topMenu a:focus,
.menu a:focus {
  color: var(--blue-color) !important;
}

/*
.menu a:focus {
  border-bottom: 2px solid var(--blue-color);
  padding-bottom: 8px;
}
*/

body {
  font-family: 'Gowun Dodum', sans-serif;
}

/*헤더*/
header {
  position: sticky;
  top: 0;
  background-color: var(--white-color);
  border-bottom: 1px solid var(--box-dark-color);
}

.header {
  height: 80px;
  margin: var(--side-padding);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*로고*/
.logo {
  margin-right: 50px;
  font-size: var(--font-large);
  font-weight: bolder;
}

/*탑메뉴*/
.topMenu {
  margin-top: 5px;
  margin-right: 50px;
}

.topMenu ul {
  display: flex;
  font-size: var(--font-medium);
  font-weight: bold;
}

.topMenu ul li {
  margin-right: 25px;
}

/*검색창*/
.search {
  position: relative;
}

.search input {
  width: 280px;
  font-size: var(--font-medium);
  padding: 10px;
  font-size: var(--font-small);
  border: solid 1px var(--grey-light-color);
  border-radius: 5px;
  margin-right: var(--padding);
}

.search input:hover {
  background-color: var(--box-color);
}

.search i {
  transform :translateY(50%);
  cursor : pointer;
  position : absolute;
  font-size: var(--font-medium);
  margin-left: var(--padding);
  color: var(--grey-light-color);
}

/*탑버튼*/
.topBtn {
  margin-top: 5px;
}

.topBtn ul {
  display: flex;
}

.topBtn ul li {
  margin-right: 15px;
}

.topBtn i {
  font-size: var(--font-medium);
  margin-right: var(--padding);
  color: var(--grey-dark-color);
}

.login,
.register {
  border-right: 1px solid var(--grey-light-color);
}

.login a,
.register a {
  padding-right: 10px;
}

.writeBtn {
  background-color: var(--blue-color);
  border-radius: 5px;
  color: var(--white-color);
  width: 100px;
  height: 45px;
  font-size: var(--font-small);
  font-weight: bold;
}

.writeBtn i {
  font-size: var(--font-medium);
}

/*메뉴*/
.menu {
  display: flex;
  justify-content: space-between;
  height: 50px;
  border-bottom: 1px solid var(--box-dark-color);
  align-items: center;
}

.menuBox {
  margin: var(--side-padding);
}

.menuBox label {
  margin-right: 20px;
  font-size: var(--font-small);
  font-weight: bold;
  cursor: pointer;
}

.menuBox label:hover {
  color: var(--blue-color);
  
}

.menuBox input[type=radio] {
  display: none;
}

.menu input[type=radio]:checked + label {
  color: var(--blue-color);
  border-bottom: 2px solid var(--blue-color);
  padding-bottom: 8px;
}

/*
.menu ul {
  display: flex;
  margin: var(--side-padding);
}

.menu ul li a {
  font-size: var(--font-small);
  font-weight: bold;
  color: var(--grey-dark-color);
  margin-right: 20px;
}
*/

.Btn10 {
 margin: var(--side-padding);
}

.Btn10 a {
  font-size: var(--font-small);
  font-weight: bold;
  color: var(--blue-color) !important;
}

/*콘텐츠*/
.contents {
  margin: var(--side-padding);
}

.mainImage {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  transition: all 0.3s ease-in-out;
}

.image {
  overflow: hidden;
  height: 600px;
}

#img1 {
  width: 950px;
  border-radius: 5px;
  margin-right: var(--padding);
}


#img2 {
  border-radius: 5px;
}

.image img:hover {
  transform: scale(1.05);
  transition: transform .5s;
}

.btns {
  display: flex;
  justify-content: space-around;
  margin: var(--margin);
}

.btns img {
  display: flex;
  flex-direction: column;
  background-color: var(--box-color);
  width: 70px;
  height: 70px;
  border-radius: 30%;
  margin-bottom: 10px;
}

.btns span {
  font-size: 14px;
}

.story {
  margin: var(--margin);
}

.story > span {
  font-size: var(--font-medium);
}

.storyContents {
  display: flex;
  margin: var(--margin);
  justify-content: space-between;
}

.contentsBox {
  display: flex;
  
  transition: all 0.3s ease-in-out;
}

.contentsBox .box {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 300px;
  height: 400px;
  margin-right: var(--padding);
  cursor: pointer;
}

.box > img {
  border-radius: 5px;
  height: 200px;
  overflow: hidden;
}

.box img:hover {
  transform: scale(1.05);
  transition: transform .5s;
}

.box > span {
  padding: var(--padding);
  font-size: var(--font-small);
}

.user {
  padding: var(--padding);
}

.user .userId {
  font-size: var(--font-micro);
}

.moreBox {
  cursor: pointer;
}

.verticalBox {
  display: flex;
  justify-content: space-between;
  background-color: var(--box-color);
  margin-bottom: 3px;
  width: 250px;
  height: calc(350px / 3);
  padding: 35px;
}

.verticalBox:hover {
  background-color: var(--box-dark-color);
}

.verticalBox .title {
  display: flex;
  flex-direction: column;
}

.verticalBox .moreBtn {
  color: var(--grey-dark-color);
}

#vb1{
  border-radius: 5px 5px 0 0;
}

#vb3 {
  border-radius: 0 0 5px 5px;
}

.subTitle {
  color: var(--grey-dark-color);
  font-size: var(--font-micro)
}

.mainTitle {
  font-weight: bold;
}

.categories {
  margin: var(--margin);
}

.categories span {
  font-size: var(--font-medium);
}

.categoriesBtn {
  display: flex;
  justify-content: space-around;
  margin: var(--margin);
}

.categoriesBtn button {
  background-color: var(--box-color);
  width: 70px;
  height: 70px;
  border-radius: 30%;
}

/*푸터*/
footer {
  background-color: var(--box-color);
}

footer section {
  margin: var(--side-padding);
  display: flex;
  justify-content: space-between;
}

.info {
  margin: 30px 0;
}

.info .center {
  font-weight: bold;
}

.info .tel {
  font-size: 35px;
  font-weight: bolder;
}

.info .time {
  font-size: var(--font-micro);
  color: var(--grey-dark-color);
}

.sns {
  font-size: var(--font-large);
  margin: 30px 0;
}

.sns i {
  margin-left: var(--padding);
}

.company {
  margin: var(--side-padding);
  font-size: var(--font-micro);
  color: var(--grey-dark-color);
  padding-bottom: 30px;
}